h1 {
  color: #ff4545;
}

.class-box {
  background-color: #349eda;
}

#id-box {
  background-color: #54c741;
}

.color-box {
  border: 2px solid #c53cc3;
}

.color-box a {
  color: #e7d93f;
}

#color-list {
  color: #1fb2cd;
}

#color-list .point {
  color: #ff871c;
}
