// 컬러
$color-primary: #8b5cf6;
$color-primary-dark: #6d3fd4;

$color-text: #f5f3f7;
$color-muted: #aaa4b0;

$color-background: #18171b;
$color-surface: #252329;
$color-surface-light: #302d36;

// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-2xl: 48px;
$spacing-4xl: 80px;

// Radius 
$radius-md: 12px;
$radius-lg: 20px;
$radius-pill: 999px;

//font-size
$heading-sm: 20px;
$heading-m: 40px;
$heading-l: 60px;

$body-s: 12px;
$body-m: 16px;
$body-l: 18px;
$body-xl: 21px;
$body-2xl: 30px;
$body-3xl: 50px;

//Shadow
$shadow-card: 0 12px 30px rgba(0, 0, 0, 0.25);