@layer reset, base, components;

@import url('../../reset.css') layer(reset);
@import url('./base.css') layer(base);
@import url('./components.css') layer(components);

:root {
  --primary: dodgerblue;
  --spacing-4: 16px;
}

dialog {
  /* 도착값 */
  opacity: 1;
  transform: translateY(0);

  transition:
    opacity 300ms,
    transform 300ms;

  /* 초깃값 */
  @starting-style {
    opacity: 0;
    transform: translateY(20px);
  }
}

.help-button {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background-color: dodgerblue;
  color: white;
  anchor-name: --help;
}

.tooltip {
  position: absolute;
  position-anchor: --box;
  position-area: right;
  /* left: 30px; */
  /* right: 10px; */
  /* position-area사용 시 따로 위치 속성을 주지 말 것. */
  margin-left: -10px;
  margin-top: 10px;
}
textarea {
  field-sizing: content;
  min-height: 100px;
  max-height: 400px;
}

.button {
  background-color: var(--primary);
}

.option {
  border: var(--spacing-4) solid gray;
  padding: var(--spacing-4);
}

.option.active {
  border: 1px solid red;
}

.option:has(input:checked) {
  border-color: blue;
  background: #eef4ff;
}

hr {
  margin: 3rem 0;
}

.container {
  border: 1px solid black;
  .boxes {
    width: 200px;
    height: 200px;
  }
}

.wrapper {
  width: 500px;
  border: 1px solid black;
  /* container-type: inline-size; */
  /* container-name: wrapper; */
  container: wrapper / inline-size;

  .boxes {
    width: 25cqw;
    height: 200px;
  }
}

.box01 {
  background-color: dodgerblue;
}

@container wrapper (width < 300px) {
  .box01 {
    background-color: hotpink;
  }
}

/* @media screen () and (width < 800px) {
  .wrapper .box01{
    background-color: hotpink;
  }
} */

section {
  container-type: inline-size;
}

@container {
  h2 {
    background-color: orange;
  }
}

.scroll-container {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 80px;
}

section {
  height: calc(100vh - 80px);
  border: 1px solid black;
  scroll-snap-align: start;

  &:nth-child(2) {
    background-color: gray;
  }
}

.progress {
  position: fixed;
  left: 0;
  top: 0;
  height: 10px;
  background-color: red;
  width: 100vw;
  z-index: 10;
  transform-origin: left;
  animation: progress linear;
  animation-timeline: scroll();
}

@keyframes progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

section {
  height: 100vh;

  .box {
    width: 200px;
    height: 200px;
    background-color: orange;
  }
}
