.layout {
  position: relative;
  color: #dfd9d9;
  font-size: 1.5rem;
}

.header {
  width: 1000px;
  height: 80px;
  background-color: #444;

  position: absolute;
  /* 포지션을 가져서 동중에 뜨는 순간 독립적 요소가 되면서 원래 가지고 있던 */
  /* 블록 요소를 잃어서 사라지는 현상이 보이기도 함 */
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  /* margin-inline: auto 0; */
  /* z-index: 10; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.visual {
  /* width: 100%; */
  /* 100%라는 말이 이미 브라우저를 다 쓰고 있다는 말이라서 필요 없다 */
  height: 350px;
  margin-bottom: 20px;
  background-color: dodgerblue;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contents {
  max-width: 1000px;
  height: 400px;
  margin: 0 auto 20px;
  background-color: hotpink;

  ul {
    height: 100%;

    display: flex;
    gap: 4px;

    li {
      background-color: orange;
    }

    .side-group {
      width: 180px;
      background-color: transparent;

      display: flex;
      flex-direction: column;
      gap: 4px;

      .box {
        flex: 1;
        background-color: orange;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .center-item {
      flex: 1;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.footer {
  max-width: 1000px;
  height: 50px;
  margin: 0 auto;
  background-color: #444;

  display: flex;
  justify-content: center;
  align-items: center;
}